/* Write the CSS for you answer here */

.landscape {
    z-index: 0;
}
.puhutukawa {
    z-index: 2;
    position: absolute;
    left: 0px;
    top: 113px;
    width: 700px;
}
.red {
    z-index: 3;
    position: absolute;
    left: 40px;
    top: 350px;
}
.blue {
    z-index: 3;
    position: absolute;
    left: 150px;
    top: 240px
}
.darkblue {
    z-index: 3;
    position: absolute;
    left: 310px;
    top: 310px;
}
.green {
    z-index: 3;
    position: absolute;
    left: 450px;
    top: 230px;
}
.pink {
    z-index: 1;
    left: 400px;
    top: 340px;
    position: absolute;
}
.orange {
    z-index: 3;
    position: absolute;
    left: 620px;
    top: 310px;
}
div {
position: absolute;
    right: 33%;
}
