@font-face {
    font-family: "Alex Brush";
    src: url(assets/alex-brush/AlexBrush-Regular.ttf);
}

.main {
    color: purple;
    line-height: 150%;
    font-size: 22pt;
    font-family: "Alex Brush", "sans-serif";
}

.sonnetTitle {
    font-family: "Alex Brush", "sans-serif";
}

.mainTitle {
    font-family: "Alex Brush", "sans-serif";
    font-size: 22pt;
    color: purple;

}

.mainDiv {
    background-color: white;

    box-shadow: 10px 10px 10px grey;
    width: 40%;
    margin: auto;
    border-radius: 10px 60px 10px 60px;
    padding-left: 15em;
    background-image: url("assets/ytile-pattern.png");
    background-repeat: repeat-y;
    background-position: 80px;
    padding-top: 3%;

}

body {
    background-color: lavender;
    background-image: url("assets/corner-LT-pattern.png" );
    background-repeat: no-repeat;
    padding-top: 5%;

}
.botLeft {
    position: absolute;
    margin: 0;
    padding-left: 75%;
    top: 365%;


}
.imgBottomLeft {
    float: right;
    position: inherit;
}